<h3>Welcome</h3>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>

<% if current_user %>
  <div><h3>Welcome, <%=  current_user.name %></h3></div>
  
<% else %>
 <h1>Welcome, please login.</h1>
<% end %>
