<% content_for :title do %>About Devine<% end %>
<div class="container">
  <img src="http://freefall4film.com/work-dir/devine/devine-final-sm.png" alt="" class="center-block img img-responsive col-sm-2" width="100" />
  <div class="col-sm-8">
    <h3>About Devine:</h3>
    <p>
    Devine is a soon to be popular free social networking website for developers. Devine allows registered users, who hold a Github account, to import their Github profiles, post projects, send messages and keep in touch with friends and colleagues. The site, which is available in the only language that matters, includes Github profiles featuring the ability to propose collaborative projects, address technical issues through our custom chat.
  </div>
  </p>
</div>
