<div class="">
  <% @projects.each do |project| %>
    <div class="well">
      <%= "Project's Name: " + Octokit.repo(project.repo_id).name %>
      <p>
        <%= project.description %>
      </p>
    </div>
  <% end %>
</div>
