<div class="">
  <% @projects.each do |project| %>
    <div class="well">
      <% @repo_info = Net::HTTP.get(URI.parse("https://api.github.com/repositories/#{project.repo_id}")) %>
      <% info_hash = JSON.parse @repo_info.gsub('=>', ':') %>
      <%= "Project's Name: " + info_hash['name'] %>
      <p>
        <%= project.description %>
      </p>
    </div>
  <% end %>
</div>
