<%# add navigation links to this file %>
<li class='nav-item'><%= link_to 'About', page_path('about'), class: 'nav-link' %></li>
<%# Add navigation after %>
<% unless current_user %>
  <!-- <li>
    <%= link_to "Sign in with Github", "/signin" %>
  </li> -->
<% else %>
  <li class='nav-item'>
    <%= link_to "My Repos", "/github/index", class: 'nav-link' %>
  </li>
  <br>
  <li><%= link_to 'Your Conversations', conversations_path, class: 'nav-link' %></li>
<% end %>
