<%# add navigation links to this file %>
<li class='nav-item'>
  <%= link_to 'About', page_path('about'), class: 'nav-link' %>
</li>
<%# Add navigation after %>
<% if current_user %>
  <li class='nav-item'>
    <%= link_to "My Repos", "/github/index", class: 'nav-link' %>
  </li>
  <li class='nav-item'>
    <%= link_to "Mailbox", conversations_path, class: 'nav-link' %><tag style="font-size:8">
    <%= current_user.unread_inbox_count %>
  </li>
<% end %>
