<%# add navigation links to this file %>
<li class='nav-item'><%= link_to 'About', page_path('about'), class: 'nav-link' %></li>
<%# Add navigation after %>
<% unless current_user %>
  <!-- <li>
    <%= link_to "Sign in with Github", "/signin" %>
  </li> -->
<% else %>
  <li class='nav-item'>
    <%= link_to "Github Profile", "/github/index", class: 'nav-link' %>
  </li>
  <!-- <li>
    <%= link_to "Sign out", "/signout" %>
  </li> -->
<% end %>
