<%# add navigation links to this file %>
<li class='nav-item'>
  <%= link_to 'ABOUT', page_path('about'), class: 'nav-link' %>
</li>
<%# Add navigation after %>
<% if current_user %>
  <li class='nav-item'>
    <%= link_to "PROFILE", "/github/index", class: 'nav-link' %>
  </li>
  <li class='nav-item'>
    <%= link_to 'INBOX', conversations_path, class: 'nav-link' %>
  </li>
<% end %>
