<% if current_user %>
  <div class="pull-right ident">
    <img src="<%= current_user.github_profile.image %>" class="img img-responsive img-rounded usr-img">
    <p class="text text-default navi-text" ><%=  current_user.name %></p>
  </div>

<% end %>
